@{
    Layout = null;
}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Dashboard Register" />
    <meta name="author" content="" />

    <title>Create New Password</title>

    <link rel="stylesheet" href="~/assets/js/jquery-ui/css/no-theme/jquery-ui-1.10.3.custom.min.css">
    <link rel="stylesheet" href="~/assets/css/font-icons/entypo/css/entypo.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic">
    <link rel="stylesheet" href="~/assets/css/bootstrap.css">
    <link rel="stylesheet" href="~/assets/css/neon-core.css">
    <link rel="stylesheet" href="~/assets/css/neon-theme.css">
    <link rel="stylesheet" href="~/assets/css/neon-forms.css">
    <link rel="stylesheet" href="~/assets/css/custom.css">

    <script src="~/assets/js/jquery-1.11.0.min.js"></script>

    <!--[if lt IE 9]><script src="assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body class="page-body login-page login-form-fall" data-url="">
    <!-- This is needed when you send requests via Ajax -->
    <script type="text/javascript">
        var baseurl = '';
    </script>

    <div class="login-container">

        <div class="login-header login-caret">

            <div class="login-content">

                <a href="javascript:void(0);" )" class="logo">
                    <img src="~/assets/images/logo@2x.png" width="120" alt="" />
                </a>

                <p class="description">Enter your password, for create new password.</p>

                <!-- progress bar indicator -->
                <div class="login-progressbar-indicator">
                    <h3>43%</h3>
                    <span>logging in...</span>
                </div>
            </div>

        </div>

        <div class="login-progressbar">
            <div></div>
        </div>

        <div class="login-form">

            <div class="login-content">

                <form method="post" role="form" id="form_forgot_password">

					<div class="form-forgotpassword-success">
						<i class="entypo-check"></i>
						<h3>Your password success updated.</h3>
						<p>Please SignIn again.</p>

						<a style="color:rgb(255, 255, 255); text-decoration:underline;" href="@Url.Action("Login", "Privileged")">
							SignIn again.
						</a>
					</div>

                    <div class="form-steps">

                        <div class="step current" id="step-1">

                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="entypo-lock"></i>
                                    </div>

									<input type="password" class="form-control" name="password" id="password" data-validate="required" placeholder="Enter strong password" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="entypo-lock"></i>
                                    </div>

									<input type="password" class="form-control" name="Confirmpassword" id="Confirmpassword" data-validate="required,equalTo[#password]" data-message-equal-to="Passwords doesn't match." placeholder="Confirm password" />
                                </div>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-info btn-block btn-login">
                                    Save New Password
                                    <i class="entypo-right-open-mini"></i>
                                </button>
                            </div>

                        </div>

                    </div>

                </form>


                <div class="login-bottom-links">

                    <a href="javascript:void(0);">DSS</a> Dasboard - <a href="javascript:void(0);">Privacy Policy</a>

                </div>

            </div>

        </div>

    </div>

    <script type="text/javascript">
        var neonForgotPassword = neonForgotPassword || {};

		;(function($, window, undefined)
		{
			"use strict";

			$(document).ready(function()
			{
				neonForgotPassword.$container = $("#form_forgot_password");
				neonForgotPassword.$steps = neonForgotPassword.$container.find(".form-steps");
				neonForgotPassword.$steps_list = neonForgotPassword.$steps.find(".step");
				neonForgotPassword.step = 'step-1'; // current step


				neonForgotPassword.$container.validate({
					rules: {

                        password: {
							required: true
                        },

						Confirmpassword: {
							required: true
						}
					},

					messages: {

                        Confirmpassword: {
							Confirmpassword: 'Passwords doesn\'t match.'
                        }
					},

					highlight: function(element){
						$(element).closest('.input-group').addClass('validate-has-error');
					},


					unhighlight: function(element)
					{
						$(element).closest('.input-group').removeClass('validate-has-error');
					},

					submitHandler: function(ev)
					{
						$(".login-page").addClass('logging-in');

						// We consider its 30% completed form inputs are filled
						neonForgotPassword.setPercentage(30, function()
						{
							// Lets move to 98%, meanwhile ajax data are sending and processing
							neonForgotPassword.setPercentage(98, function()
							{
								// Send data to the server
								$.ajax({
									url: baseurl + '@Url.Action("ResetPassword", "PrivilegedData")',
									method: 'POST',
                                    data: {
                                        password: $('input[name="password"]').val()
									},
									error: function()
									{
										alert("An error occoured!");
									},
									success: function(response)
									{
										// From response you can fetch the data object retured
										//var email = response.submitted_data.email;
										setTimeout(function () {
                                            let options = {
                                                "closeButton": true,
                                                "debug": false,
                                                "positionClass": rtl() || neonRegister.$body.hasClass('login-container') ? "toast-top-left" : "toast-top-right",
                                                "toastClass": "green",
                                                "onclick": null,
                                                "showDuration": "300",
                                                "hideDuration": "1000",
                                                "timeOut": "5000",
                                                "extendedTimeOut": "1000",
                                                "showEasing": "swing",
                                                "hideEasing": "linear",
                                                "showMethod": "fadeIn",
                                                "hideMethod": "fadeOut"
                                            };

                                            toastr.success("Success update your password.", "Successfully!", options);
                                        }, 3000);


										// Form is fully completed, we update the percentage
										neonForgotPassword.setPercentage(100);


										// We will give some time for the animation to finish, then execute the following procedures
										setTimeout(function()
										{
											// Hide the description title
											$(".login-page .login-header .description").slideUp();

											// Hide the register form (steps)
											neonForgotPassword.$steps.slideUp('normal', function()
											{
												// Remove loging-in state
												$(".login-page").removeClass('logging-in');

												// Now we show the success message
												$(".form-forgotpassword-success").slideDown('normal');

												// You can use the data returned from response variable
											});

										}, 1000);
									}
								});
							});
						});
					}
				});

				// Steps Handler
				neonForgotPassword.$steps.find('[data-step]').on('click', function(ev)
				{
					ev.preventDefault();

					var $current_step = neonForgotPassword.$steps_list.filter('.current'),
						next_step = $(this).data('step'),
						validator = neonForgotPassword.$container.data('validator'),
						errors = 0;

					neonForgotPassword.$container.valid();
					errors = validator.numberOfInvalids();

					if(errors)
					{
						validator.focusInvalid();
					}
					else
					{
						var $next_step = neonForgotPassword.$steps_list.filter('#' + next_step),
							$other_steps = neonForgotPassword.$steps_list.not( $next_step ),

							current_step_height = $current_step.data('height'),
							next_step_height = $next_step.data('height');

						TweenMax.set(neonForgotPassword.$steps, {css: {height: current_step_height}});
						TweenMax.to(neonForgotPassword.$steps, 0.6, {css: {height: next_step_height}});

						TweenMax.to($current_step, .3, {css: {autoAlpha: 0}, onComplete: function()
						{
							$current_step.attr('style', '').removeClass('current');

							var $form_elements = $next_step.find('.form-group');

							TweenMax.set($form_elements, {css: {autoAlpha: 0}});
							$next_step.addClass('current');

							$form_elements.each(function(i, el)
							{
								var $form_element = $(el);

								TweenMax.to($form_element, .2, {css: {autoAlpha: 1}, delay: i * .09});
							});

							setTimeout(function()
							{
								$form_elements.add($next_step).add($next_step).attr('style', '');
								$form_elements.first().find('input').focus();

							}, 1000 * (.5 + ($form_elements.length - 1) * .09));
						}});
					}
				});

				neonForgotPassword.$steps_list.each(function(i, el)
				{
					var $this = $(el),
						is_current = $this.hasClass('current'),
						margin = 20;

					if(is_current)
					{
						$this.data('height', $this.outerHeight() + margin);
					}
					else
					{
						$this.addClass('current').data('height', $this.outerHeight() + margin).removeClass('current');
					}
				});


				// Login Form Setup
				neonForgotPassword.$body = $(".login-page");
				neonForgotPassword.$login_progressbar_indicator = $(".login-progressbar-indicator h3");
				neonForgotPassword.$login_progressbar = neonForgotPassword.$body.find(".login-progressbar div");

				neonForgotPassword.$login_progressbar_indicator.html('0%');

				if(neonForgotPassword.$body.hasClass('login-form-fall'))
				{
					var focus_set = false;

					setTimeout(function(){
						neonForgotPassword.$body.addClass('login-form-fall-init')

						setTimeout(function()
						{
							if( !focus_set)
							{
								neonForgotPassword.$container.find('input:first').focus();
								focus_set = true;
							}

						}, 550);

					}, 0);
				}
				else
				{
					neonForgotPassword.$container.find('input:first').focus();
				}


				// Functions
				$.extend(neonForgotPassword, {
					setPercentage: function(pct, callback)
					{
						pct = parseInt(pct / 100 * 100, 10) + '%';

						// Normal Login
						neonForgotPassword.$login_progressbar_indicator.html(pct);
						neonForgotPassword.$login_progressbar.width(pct);

						var o = {
							pct: parseInt(neonForgotPassword.$login_progressbar.width() / neonForgotPassword.$login_progressbar.parent().width() * 100, 10)
						};

						TweenMax.to(o, .7, {
							pct: parseInt(pct, 10),
							roundProps: ["pct"],
							ease: Sine.easeOut,
							onUpdate: function()
							{
								neonForgotPassword.$login_progressbar_indicator.html(o.pct + '%');
							},
							onComplete: callback
						});
					}
				});
			});

		})(jQuery, window);
    </script>

    <!-- Bottom Scripts -->
    <script src="~/assets/js/gsap/main-gsap.js"></script>
    <script src="~/assets/js/jquery-ui/js/jquery-ui-1.10.3.minimal.min.js"></script>
    <script src="~/assets/js/bootstrap.js"></script>
    <script src="~/assets/js/joinable.js"></script>
    <script src="~/assets/js/resizeable.js"></script>
    <script src="~/assets/js/neon-api.js"></script>
    <script src="~/assets/js/jquery.validate.min.js"></script>
    <script src="~/assets/js/toastr.js"></script>
    <script src="~/assets/js/jquery.inputmask.bundle.min.js"></script>
    <script src="~/assets/js/neon-custom.js"></script>
    <script src="~/assets/js/neon-demo.js"></script>
</body>
</html>